@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
body{
  font-family: "Yusei Magic", sans-serif;
  margin: 0;
}

header{
  text-align: center;
}
/* Website Links except the nav */

a:link{
  color:#042837;
}
a:visited{
  color: #b300b3;
}
a:hover{
  color: blue;
}
a:active{
  color: white;
}


/* Navigation */
nav{
  background-color: #042837;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  padding: 5px;
}
nav ul{
  list-style-type: none;
  text-align: center;
  margin: 8px 0;
  padding: 0;
}
nav li{
  display: inline;
  padding: 5px;
}
nav a{
  text-decoration: none;
}
nav a:link{
  color: white;
}
nav a:visited{
  color: white;
}
nav a:hover{
  color: blue;
}
nav a:active{
  color: white;
}
/*Main */
main{
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
}
.home-hero{
  background-image:url(images/header.jpg);
  height: 475px;
  background-size: cover;
  background-position: center;
  color: #042837;
  padding: 10px 10px 10px 30px;
}
blockquote{
  background-color: #eeeeee;
  border-left: 15px solid #042837;
  padding: 30px;
}
img{
  display: block;
  margin: 0 auto;
}
/* Footer */
footer{
  border-top: #042837 3px solid;
  text-align: center;
}

/*CSS without a media query--applies to all sizes unless overridden*/
h1{
    font-size: 4em;
    color: #042837;
    padding: 20px;

 }
h4{
  text-align: center;
}

/* CSS Adjustments for Tablets */
@media only screen and (max-width: 1024px) {
  h1{
    font-size: 1.8em;
  }
}
/* CSS Adjustments for Smartphones */
@media only screen and (max-width: 768px) {
  h1{
    font-size: 1.5em;
  }
}
.fa{
  font-size: 3em;
  color: #042837;
  padding: 20px ;
}
